@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }

  70% {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: none;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -500px, 0);
  }

  to {
    transform: none;
  }
}

@keyframes slide-out {
  0% {
    opacity: 0;
    transform: translate3d(-5px, 0px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 0px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(-5px, 0, 0);
  }
}
