//shorthand for media queries
@mixin mediaq($size, $min: false) {

	//to include min-width
	@if $min == true{
		@media screen and (min-width: $size) {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $size) {
			@content;
		}
	}
}

//Gradient Mixin vertical
@mixin gradient-vertical($dkColor, $ltColor) {
	background: $dkColor;
	@each $prefix in -moz-,-webkit- {
		background: #{$prefix}linear-gradient(top,  $dkColor 0%,$dkColor 80%,$ltColor 100%);
	}
	background: linear-gradient(to bottom,  $dkColor 0%,$dkColor 80%,$ltColor 100%);
}

//Gradient Mixin horizontal
@mixin gradient-horizonal($dkColor, $ltColor) {
	background: $dkColor;
	@each $prefix in -moz-,-webkit- {
		background: #{$prefix}linear-gradient(left,  $dkColor 0%,$dkColor 80%,$ltColor 100%);
	}
	background: linear-gradient(to right,  $dkColor 0%,$dkColor 80%,$ltColor 100%);
}

/*------------------*/
/*------------------*/
/*------------------*/
