$almost-white: #eeeeee;
$gray: #444444;
$magenta: #ef2369;
$lt-gray: #888888;
$off-gray: #b9b9b9;
$dk-gray: #555555;
$background: #262626;
$white: #ffffff;
$hover: $almost-white;
$current-page: #6e7575;
$transparent-bg: rgba(38, 38, 38, 0.61);
