/*/
===============
== IMPORTS
===============
/*/

@import 'normalize';
@import 'site-settings';
@import 'base';
@import 'mixers';
@import 'animations';
@import 'lightbox';

body {
  font-family: "Source Sans Pro",Arial,sans-serif;
  color: $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background;
  transition: background 0.8s ease-out;
}

a {
  transition: color 0.2s ease-out;
  font-weight: 700;
  &:hover {
    color: $hover;
  }
  &:link {
    color: $magenta;
    text-decoration: none;
  }
  &:visited {
    color: $magenta;
  }
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  box-sizing: border-box;
  @include mediaq($tablet) {
    padding: 0 2%;
  }
  @include mediaq($phablet) {
    padding: 0 4%;
  }
}

.header {
  width: 100%;
  text-align: left;
  border-top: 3px solid $magenta;
  padding-top: 40px;
  @include mediaq($tablet) {
    padding-top: 15px;
  }
}

.logo {
  width: 49%;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
  letter-spacing: .02em;
  font-family: Montserrat,Arial,sans-serif;
  @include mediaq(960px) {
    width: 34%;
  }
  @include mediaq($tablet) {
    width: 100%;
    display: block;
    text-align: center;
  }
  span {
    display: block;
  }
  &-headline {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: .02em;
    text-rendering: optimizeLegibility;
  }
  &-subline {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }
}

hr {
    margin: 10px 0;
    border-color: $dk-gray;
}

.mini-nav {
	font-family: Arial, sans-serif;
	font-size: 11pt;
  font-size: 3.62vw;
	font-weight: bold;
	text-align: right;
  @include mediaq($tablet) {
    text-align: center;
    padding: 5px 0;
  }
  @include mediaq(413px, true) {
    font-size: 11pt;
  }
  @include mediaq($iphone) {
    font-size: 8.7pt;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .mini-link, .plus-link {
    vertical-align: middle;
  }
  &.sticky {
    animation: bounce-down .5s ease 1;
    border-bottom: 1px solid $dk-gray;
    border-top: 3px solid $magenta;
    position: fixed;
    top: 0;
    @include gradient-vertical($background, $transparent-bg);
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 2000;
    // padding: 10px 0;
  }
  .buttons-group,.sticky-group {
    display: inline-block;
    vertical-align: middle;
  }
  .circle {
    display: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: $magenta;
    position:relative;
    font-size: 12pt;
    font-weight:bold;
    cursor:pointer;
    color:#fff;
    vertical-align: middle;
  }
  .plus, .minus {
    width: 20px;
    height: 20px;
    display:block;
    position:absolute;
    top:0; left:0;
    line-height:22px;
    text-align:center;
    transition: .5s all ease-out;
  }
  .plus {
    opacity:1;
    transform: rotate(0deg);
  }
  .minus {
    opacity:0;
    transform: rotate(-90deg);
  }
  .circle.animate .plus {
    opacity:0;
    transform: rotate(90deg);
  }
  .circle.animate .minus {
    opacity:1;
    transform: rotate(0deg);
  }

  .plus-items {
    display: none;
    &.animate {
      animation: slide-out .5s ease 1;
    }
  }
}

.content-row {
  font-size: 14px;
  line-height: 1;
  a:hover {
    color: $hover;
  }
  &:not(:last-of-type) {
    margin-bottom: 2%;
    @include mediaq($phablet) {
      margin: 0;
    }
  }
}

.nav {
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  width: 50%;
  text-align: right;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 11.7pt;
  font-size: 3.48vw;
  line-height: 1.5;
  letter-spacing: .09em;
  text-rendering: auto;
  text-decoration: none;
  text-transform: uppercase;
  @include mediaq(960px) {
    width: 65%;
  }
  @include mediaq($tablet) {
    width: 100%;
    text-align: center;
    display: block;
    margin: 1% 0;
  }
  @include mediaq($mid) {
    margin: 10px 0;
  }
  @include mediaq($mid, true) {
    font-size: 11.7pt;
  }
  @include mediaq($phone) {
    font-size: 4.3vw;
  }
  @include mediaq($iphone) {
    font-size: 10.3pt;
  }
  &-link {
    display: inline-block;
    @include mediaq($phone) {
      width: 32%;
    }
    a:hover {
      color: $hover;
    }
    &:not(:last-of-type) {
      margin-right: 2%;
      @include mediaq($mid) {
        margin-right: 1%;
      }
    }
    button.mini-link {
      text-transform: uppercase;
    }
  }
}

.mini-link, .internal-link, .plus-link {
  cursor: pointer;
  display: inline-block;
  color: $magenta;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  transition: color 0.2s ease-out;
  font-weight: 700;
  &:hover {
    color: $hover;
  }
  &:focus {
    outline: none;
  }
}

.current-page {
  color: $current-page;
}

.h {
  font-family: Montserrat,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  margin: 1.7% 0;
  line-height: 1.2;
  &.h3 {
    font-size: 24px;
  }
  &.h4 {
    font-size: 18px;
  }
}

.center {
  margin: 3% 0;
}

.justify {
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 10pt;
}

.category {
  display: inline-block;
  vertical-align: middle;
  max-width: 461px;
  width: 48%;
  @include mediaq($phablet) {
    width: 100%;
    margin-bottom: 2.5%;
  }
  &:first-child {
    margin-right: 2.5%;
    @include mediaq($phablet) {
      margin-right: 0;
    }
  }
}

.web {
  .category {
    vertical-align: top;
  }
}

.temp {
  text-align: left;
}

.page {
  display: none;
  margin: 2% 0;
}

.seo {
  .category {
    vertical-align: top;
    @include mediaq(700px) {
      width: 100%;
      margin-bottom: 2%;
    }
  }
  &-thumbinfo {
    background-color: #303030;
  	padding: 20px;
    margin: 9% 0;
    @include mediaq(700px) {
      margin: 4% 0;
    }
  }
  .h {
    text-align: left;
    &.subheader {
      text-align: center;
    }
  }
}

.about {
  &-column {
    vertical-align: top;
  }
}

.intro-headline {
  text-transform: uppercase;
  &.not-found {
    margin-top: 60px;
  }
}

.thumb-image {
  display: block;
  max-width: 461px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.notes {
  display: none;
  &.animate {
    display: block;
  }
}

// .info-box {
//   display: none;
//   &.animate {
//     display: block;
//   }
// }

.active {
  display: block;
  animation: fade .8s ease 1;
}

.list {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
  color: white;
  font-size: 12pt;
  text-align: left;
  margin: 2% 0;
  &-item {
    border-bottom: 1px solid #444;
    padding: 2% 0;
  }
}

.strong {
  font-weight: 700;
}

.footer {
  margin-bottom: 40px;
  &-link {
    font-family: 'Montserrat', 'Arial', sans-serif;
    display: inline-block;
    padding: .3% 1%;
    color: $white;
    a:hover {
      color: $hover;
    }
    &:not(:last-of-type) {
      border-right: 1px solid #444444;
    }
    @include mediaq($mobile) {
      font-size: 10pt;
      margin: 4px 0;
    }
  }
  &-top .footer-link {
    @include mediaq($mobile) {
      display: block;
      border: none;
    }
  }
}

.contact-info {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.go-home {
  font-size: 15pt;
}
