/*/
===============
== IMPORTS
===============
/*/
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/*/
===============
== BREAK POINTS
===============
/*/
/*------------------*/
/*------------------*/
/*------------------*/
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes bounce-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounce-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5px, 0px, 0);
    transform: translate3d(-5px, 0px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slide-out {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-5px, 0px, 0);
    transform: translate3d(-5px, 0px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
}

/* Preload images */
body:after {
  content: url(../img/close.min.png) url(../img/loading.min.gif) url(../img/prev.min.png) url(../img/next.min.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.min.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.min.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.min.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.min.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

body {
  font-family: "Source Sans Pro",Arial,sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #262626;
  -webkit-transition: background 0.8s ease-out;
  transition: background 0.8s ease-out;
}

a {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  font-weight: 700;
}

a:hover {
  color: #eeeeee;
}

a:link {
  color: #ef2369;
  text-decoration: none;
}

a:visited {
  color: #ef2369;
}

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 2%;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 0 4%;
  }
}

.header {
  width: 100%;
  text-align: left;
  border-top: 3px solid #ef2369;
  padding-top: 40px;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 15px;
  }
}

.logo {
  width: 49%;
  text-align: left;
  display: inline-block;
  vertical-align: bottom;
  letter-spacing: .02em;
  font-family: Montserrat,Arial,sans-serif;
}

@media screen and (max-width: 960px) {
  .logo {
    width: 34%;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.logo span {
  display: block;
}

.logo-headline {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: .02em;
  text-rendering: optimizeLegibility;
}

.logo-subline {
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

hr {
  margin: 10px 0;
  border-color: #555555;
}

.mini-nav {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  font-size: 3.62vw;
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .mini-nav {
    text-align: center;
    padding: 5px 0;
  }
}

@media screen and (min-width: 413px) {
  .mini-nav {
    font-size: 11pt;
  }
}

@media screen and (max-width: 320px) {
  .mini-nav {
    font-size: 8.7pt;
  }
}

.mini-nav a {
  text-decoration: none;
  cursor: pointer;
}

.mini-nav .mini-link, .mini-nav .plus-link {
  vertical-align: middle;
}

.mini-nav.sticky {
  -webkit-animation: bounce-down .5s ease 1;
  animation: bounce-down .5s ease 1;
  border-bottom: 1px solid #555555;
  border-top: 3px solid #ef2369;
  position: fixed;
  top: 0;
  background: #262626;
  background: -webkit-linear-gradient(top, #262626 0%, #262626 80%, rgba(38, 38, 38, 0.61) 100%);
  background: linear-gradient(to bottom, #262626 0%, #262626 80%, rgba(38, 38, 38, 0.61) 100%);
  width: 100%;
  padding: 10px 0;
  text-align: center;
  z-index: 2000;
}

.mini-nav .buttons-group, .mini-nav .sticky-group {
  display: inline-block;
  vertical-align: middle;
}

.mini-nav .circle {
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ef2369;
  position: relative;
  font-size: 12pt;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  vertical-align: middle;
}

.mini-nav .plus, .mini-nav .minus {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  text-align: center;
  -webkit-transition: .5s all ease-out;
  transition: .5s all ease-out;
}

.mini-nav .plus {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mini-nav .minus {
  opacity: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.mini-nav .circle.animate .plus {
  opacity: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mini-nav .circle.animate .minus {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.mini-nav .plus-items {
  display: none;
}

.mini-nav .plus-items.animate {
  -webkit-animation: slide-out .5s ease 1;
  animation: slide-out .5s ease 1;
}

.content-row {
  font-size: 14px;
  line-height: 1;
}

.content-row a:hover {
  color: #eeeeee;
}

.content-row:not(:last-of-type) {
  margin-bottom: 2%;
}

@media screen and (max-width: 640px) {
  .content-row:not(:last-of-type) {
    margin: 0;
  }
}

.nav {
  display: inline-block;
  vertical-align: bottom;
  padding: 0;
  width: 50%;
  text-align: right;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 11.7pt;
  font-size: 3.48vw;
  line-height: 1.5;
  letter-spacing: .09em;
  text-rendering: auto;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .nav {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    text-align: center;
    display: block;
    margin: 1% 0;
  }
}

@media screen and (max-width: 460px) {
  .nav {
    margin: 10px 0;
  }
}

@media screen and (min-width: 460px) {
  .nav {
    font-size: 11.7pt;
  }
}

@media screen and (max-width: 360px) {
  .nav {
    font-size: 4.3vw;
  }
}

@media screen and (max-width: 320px) {
  .nav {
    font-size: 10.3pt;
  }
}

.nav-link {
  display: inline-block;
}

@media screen and (max-width: 360px) {
  .nav-link {
    width: 32%;
  }
}

.nav-link a:hover {
  color: #eeeeee;
}

.nav-link:not(:last-of-type) {
  margin-right: 2%;
}

@media screen and (max-width: 460px) {
  .nav-link:not(:last-of-type) {
    margin-right: 1%;
  }
}

.nav-link button.mini-link {
  text-transform: uppercase;
}

.mini-link, .internal-link, .plus-link {
  cursor: pointer;
  display: inline-block;
  color: #ef2369;
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  font-weight: 700;
}

.mini-link:hover, .internal-link:hover, .plus-link:hover {
  color: #eeeeee;
}

.mini-link:focus, .internal-link:focus, .plus-link:focus {
  outline: none;
}

.current-page {
  color: #6e7575;
}

.h {
  font-family: Montserrat,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: -.02em;
  margin: 1.7% 0;
  line-height: 1.2;
}

.h.h3 {
  font-size: 24px;
}

.h.h4 {
  font-size: 18px;
}

.center {
  margin: 3% 0;
}

.justify {
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 10pt;
}

.category {
  display: inline-block;
  vertical-align: middle;
  max-width: 461px;
  width: 48%;
}

@media screen and (max-width: 640px) {
  .category {
    width: 100%;
    margin-bottom: 2.5%;
  }
}

.category:first-child {
  margin-right: 2.5%;
}

@media screen and (max-width: 640px) {
  .category:first-child {
    margin-right: 0;
  }
}

.web .category {
  vertical-align: top;
}

.temp {
  text-align: left;
}

.page {
  display: none;
  margin: 2% 0;
}

.seo .category {
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  .seo .category {
    width: 100%;
    margin-bottom: 2%;
  }
}

.seo-thumbinfo {
  background-color: #303030;
  padding: 20px;
  margin: 9% 0;
}

@media screen and (max-width: 700px) {
  .seo-thumbinfo {
    margin: 4% 0;
  }
}

.seo .h {
  text-align: left;
}

.seo .h.subheader {
  text-align: center;
}

.about-column {
  vertical-align: top;
}

.intro-headline {
  text-transform: uppercase;
}

.intro-headline.not-found {
  margin-top: 60px;
}

.thumb-image {
  display: block;
  max-width: 461px;
  height: auto;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.notes {
  display: none;
}

.notes.animate {
  display: block;
}

.active {
  display: block;
  -webkit-animation: fade .8s ease 1;
  animation: fade .8s ease 1;
}

.list {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: 600;
  color: white;
  font-size: 12pt;
  text-align: left;
  margin: 2% 0;
}

.list-item {
  border-bottom: 1px solid #444;
  padding: 2% 0;
}

.strong {
  font-weight: 700;
}

.footer {
  margin-bottom: 40px;
}

.footer-link {
  font-family: 'Montserrat', 'Arial', sans-serif;
  display: inline-block;
  padding: .3% 1%;
  color: #ffffff;
}

.footer-link a:hover {
  color: #eeeeee;
}

.footer-link:not(:last-of-type) {
  border-right: 1px solid #444444;
}

@media screen and (max-width: 540px) {
  .footer-link {
    font-size: 10pt;
    margin: 4px 0;
  }
}

@media screen and (max-width: 540px) {
  .footer-top .footer-link {
    display: block;
    border: none;
  }
}

.contact-info {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.go-home {
  font-size: 15pt;
}
